body{
    background-color:lightgray;
    /* background: linear-gradient(0.85turn, #00b3ff, #ddff00); */
}
 .en-tete1{
    display: flex;
    justify-content: center;
    width:auto;
    height: auto;
 }
.en-tete2{
    border-radius: 10px;
    background-color:blue ;
    width:auto;
    display: flex;
    color: red;
    font-size: 76px;
    margin: 0px;
    padding: 10px 10px;
}


.Titre{
    font-size: 26px;
    color:blue;
}

.Stage{
    margin-top: 10px;
}



/* info perso */

.info-perso-titre1 , .info-perso-text1 , .info-perso-CV1 , .info-perso-contact1{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0px;
}

.info-perso-titre1{
    margin-top: 50px;
}
.info-perso-text1,.info-perso-CV1,.info-perso-contact1{
    margin-top: 0px;
}




.info-perso-titre2{
    width: 90%;
    text-align: center;
    background: linear-gradient(#bacb00, #70cb00);
    border-radius: 10px 10px 0px 0px;
    font-size: 44px;
    font-weight: bold;
    color:rgb(255, 0, 0);
    text-align: center;
    text-decoration: underline;
}


.info-perso-text2{
    width: 90%;
    text-align: center;
    background: linear-gradient(#70cb00, #00cb40);
    border-radius: 0px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.info-perso-text3{
    border-radius: 10px ;
    background-color: rgba(0, 0, 0, 0.204) ;
    border-style:double;
    border-color: black;
    width: auto;
    height: auto;
    padding: 5px 10px;
    margin-bottom: 40px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    align-content: center;
    text-align: center;
    min-width: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.info-perso-CV2{
    width: 90%;
    text-align: center;
    background: linear-gradient(#00cb40, #00cb9f);
    border-radius: 0px;
    font-size: 32px;
    text-align: center;
    padding-top:15px;
    padding-bottom: 15px;   
}

/* Pour "agrandir" l'imange en passant la souris dessus */
.info-perso-CV2 img{
    transition: transform 0.1s ease-in-out;
}
.info-perso-CV2 img:hover{
    transform: scale(1.5);
    margin-bottom: 70px;
    margin-top: 30px;
}


.info-perso-contact2{
    width: 90%;
    text-align: center;
    background: linear-gradient(#00cb9f, #0095cb);
    border-radius: 0px 0px 10px 10px;
    font-size: 32px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
}

.info-perso-contact3{
    border-radius: 10px ;
    background-color: rgba(0, 0, 0, 0.204) ;
    border-style:double;
    border-color: black;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    align-content: center;
    text-align: center;
    min-width: 250px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

/* fin info perso */



/* Experience pro */
.exp-pro-titre1,.exp-pro-text1{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.exp-pro-titre1{
    margin-top: 50px;
    margin-bottom: 0px;
}
.exp-pro-text1{
    margin-top: 0px;
}

.exp-pro-titre2{
    width: 90%;
    text-align: center;
    background: linear-gradient(1turn,#0094a7, #004360);
    border-radius: 10px 10px 0px 0px;
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 187, 0);
}


.exp-pro-text2{
    width: 90%;
    background: linear-gradient(#0094a7, #002b60);
    border-radius: 0px 0px 10px 10px;
    display: grid;
}

.exp-pro-text3{
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7) ;
    border-style: outset;
    padding: 5px 10px;
    margin : 10px;
    margin-bottom: 40px;
    align-content: center;
    margin-right: auto;
}

.Date_Stage{
    font-size: 28px;
    font-weight: bold;
    color: black;
}

.Lieux_Stage{
    font-size: 24px;
    color: black;
    font-weight: bold;
}

.Descr_Stage{
    font-size: 18px;
    color: black
}


/* fin expérience pro */




/* Expérience pro */
.compétences-titre1{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.compétences-titre2{
    background: linear-gradient(1turn,#8300a7, #030060);
    width: 90%;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 187, 0);
}



/* début zone avec case qui se retournent */

.zone1{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 0px;
}

.zone2{
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(#8300a7, #030060);
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.zone3{ /* zone carte avant et arriere */
    border-radius: 10px;
    background-color: transparent;
    width:275px;
    height: 275px;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
    padding: 20px 20px;

}

.flip-card {
    background-color: transparent;
    width: 100%;
    height: 100%;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .zone3:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-avant, .flip-card-arriere {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
  }
  
  .flip-card-avant {
    background-color: #ff000090;
    color: black;
    font-size: 38px;
    display: grid;
  }
  
  .flip-card-arriere {
    background-color: #ffff00;
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    font-size: 24PX;
  }

  .card-avant-titre{
    background-color: #ffffff00;
    height: 60px;
  }

  .card-avant-texte{
    background-color: #ffffff00;
    height: auto;
    max-height: 200px;
  }

  /* fin zone case qui se retourne */


  /* Zone métier de l'informatique */

.métier-info-titre1, .métier-info-text1{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.métier-info-titre1{
    margin-top: 50px;
    margin-bottom: 0px;
}

.métier-info-text1{
    margin-top: 0px;
}


.métier-info-titre2, .métier-info-text2{
    width: 90%;
    text-align: center;
}

.métier-info-titre2{
    background: linear-gradient(1turn,#0094a7, #002b60);
    border-radius: 10px 10px 0px 0px;
    font-size: 44px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(255, 187, 0);
}

.métier-info-text2{
    background: linear-gradient(#0094a7, #030060);
    border-radius: 0px 0px 10px 10px ;
    font-size: 32px;
    color: rgb(255, 255, 255);
    padding-bottom: 20px;
}


/* Pour "agrandir" l'imange en passant la souris dessus */
.métier-info-text2 img{
    transition: transform 0.3s ease-in-out;
}
.métier-info-text2 img:hover{
    transform: scale(1.2);
    margin-bottom: 30px;
}


  /* Fin zone métier de l'informatique */




  /* test */

